{# <?php
/**
 * @var \Adminx\Common\Models\Pages\Page            page
 * @var \Adminx\Common\Models\Article               article
 * @var \Illuminate\Pagination\LengthAwarePaginator comments
 * @var string[]                                    breadcrumbs
 */
?> #}
{{ page.html }}
<div class="blog-area py-10">
    <div class="container">
        <div class="row g-8">
            <div class="col-lg-4 order-lg-1 order-2 pt-10 pt-lg-0">
                {{ include('@template/shared/sidebar.twig') }}
            </div>

            <div class="col-lg-8 order-lg-2 order-1">
                <article class="blog-article">
                    {% if article.cover_url is not empty and not page.show_breadcrumb %}
                        <div class="blog-img img-hover-effect mb-3">
                            <img class="img-full img-fluid w-100" src="{{ article.cover_url }}"
                                 alt="{{ article.title }}">
                        </div>
                    {% endif %}
                    <div class="blog-article-content {{ article.cover_url ? 'pt-6' : '' }}">

                        {% if not page.show_breadcrumb %}
                            <h1 class="title">{{ article.title }}</h1>
                        {% endif %}


                        <div class="blog-article-meta mb-2 mt-3 d-inline-row text-muted small">
                                <span class="me-3 mr-3" data-toggle="tooltip"
                                      title="Postado {{ article.published_at_long }}">
                                        <i class="fa-solid fa-calendar-days me-1"></i>
                                        <time
                                                datetime="{{ article.published_at.format('Y-m-d H:i:S') }}">{{ article.published_at.diffForHumans() }}</time>
                                    </span>
                            <span title="Comentários">
                                        <i class="fa-solid fa-comments me-1"></i>
                                        {{ article.comments().count() }} Coment&aacute;rios
                                    </span>
                        </div>

                        {% if article.categories.count() %}
                            <p class="text-muted">
                                Categorias: {{ article.categories.pluck('title').join(', ') }}
                            </p>
                        {% endif %}
                        {% if article.has_custom_description %}
                            <p class="short-desc mb-5 pb-5">
                                {{ article.description }}
                            </p>
                        {% endif %}

                        {{ article.content }}

                        <hr class="mt-5 mb-0"/>

                        <div class="page-navigation row py-5">
                            <div class="prev-nav col-12 col-md-6 d-inline-flex align-items-center mb-5 mb-md-0">
                                {% if article.previousArticle and article.previousArticle.id %}
                                    <div class="navigation-img  me-2 mr-2">
                                        <a href="{{ article.previousArticle.uri }}"
                                           class="btn btn-primary rounded-0 p-4 text-white">
                                            <i class="fa-solid fa-angle-left font-size-25 fw-bolder"></i>
                                        </a>
                                    </div>

                                    <div class="navigation-content w-100 ps-xl-4 pt-4 pt-xl-0">
                                        <div class="blog-article-meta mb-2 d-inline-row text-muted small">
                                                <span class="me-3 mr-3"
                                                      title="Postado {{ article.previousArticle.published_at_long }}">
                                                        <i class="fa-solid fa-calendar-days me-1"></i>
                                                        <time
                                                                datetime="{{ article.previousArticle.published_at.format('Y-m-d H:i:S') }}">{{ article.previousArticle.published_at.diffForHumans() }}</time>
                                                    </span>
                                            <span title="Comentários">
                                                        <i class="fa-solid fa-comments me-1"></i>
                                                        {{ article.previousArticle.comments_count }}
                                                    </span>
                                        </div>
                                        <a href="{{ article.previousArticle.url }}"
                                           class="h5 limit-1-line mb-0">{{ article.previousArticle.title }}</a>
                                    </div>
                                {% endif %}
                            </div>
                            <div class="nextArticle-nav col-12 col-md d-inline-flex align-items-center">
                                {% if article.nextArticle and article.nextArticle.id %}
                                    <div
                                            class="navigation-content w-100 text-end text-right pe-xl-4 pb-4 pb-xl-0">
                                        <div class="blog-article-meta mb-2 d-inline-row text-muted small">
                                                <span class="me-3 mr-3"
                                                      title="Postado {{ article.nextArticle.published_at_long }}">
                                                        <i class="fa-solid fa-calendar-days me-1"></i>
                                                        <time
                                                                datetime="{{ article.nextArticle.published_at.format('Y-m-d H:i:S') }}">{{ article.nextArticle.published_at.diffForHumans() }}</time>
                                                    </span>
                                            <span title="Comentários">
                                                        <i class="fa-solid fa-comments me-1"></i>
                                                        {{ article.nextArticle.comments_count }}
                                                    </span>
                                        </div>
                                        <a href="{{ article.nextArticle.url }}"
                                           class="h5 limit-1-line mb-0">{{ article.nextArticle.title }}</a>
                                    </div>
                                    <div class="navigation-img justify-content-end ms-2 ml-2">
                                        <a href="{{ article.nextArticle.url }}"
                                           class="btn btn-primary rounded-0 p-4 text-white">
                                            <i class="fa-solid fa-angle-right font-size-25 fw-bolder"></i>
                                        </a>
                                    </div>
                                {% endif %}
                            </div>
                        </div>

                        <div id="article-comments" class="blog-comment with-bg mt-10 mb-5">
                            <h4 class="heading mb-3">{{ comments.count() }} Comentários</h4>
                            {% if not comments.count() %}
                                <p>Seja o primeiro a comentar!</p>

                            {% else %}

                                {% for comment in comments %}
                                    <div class="blog-comment-item d-flex mb-8">
                                        <div class="blog-comment-img ms-0 me-3 ml-0 mr-3">
                                            <img src="{{ comment.gravatar }}"
                                                 alt="{{ comment.name }} Gravatar">
                                        </div>
                                        <div class="blog-comment-content ms-0 me-0 ml-0 mr-0 w-auto pb-5">
                                            <div class="user-meta">
                                                <span><strong>{{ comment.name }} -</strong> {{ comment.created_at.diffForHumans() }}</span>
                                            </div>
                                            <p class="user-comment mb-4">
                                                {{ comment.comment }}
                                            </p>
                                        </div>
                                    </div>
                                {% endfor %}
                                {{ comments.paginate(5, ['*'], 'comments_page').links('common-frontend::layout.inc.pagination') }}

                            {% endif %}

                        </div>

                        <div id="comment-form" class="feedback-area with-bg mt-10 mb-5 pb-5">
                            <h4 class="heading mb-3">Deixar Comentário</h4>
                            {# @push('js')
                                    {!! JsValidator::formRequest(\App\Http\Requests\StoreCommentFrontendRequest::class, "#form-comment").render() !!}
                                @endpush #}
                            <form id="form-comment" class="feedback-form"
                                  action="{{ article.urlTo('send-comment') }}"
                                  method="POST" data-grecaptcha-action="comment">
                                <input type="hidden" name="_method" value="POST">
                                {# {{ recaptcha }} #}
                                <div class="row mb-5">
                                    <div class="col-12">
                                        <div class="alert alert-dismissible alert-info collapse fade"
                                             role="alert">
                                            <span>Aguarde....</span></div>
                                    </div>

                                    {% if errors.any() %}
                                        {% for error in errors.all() %}
                                            <div class="col-12">
                                                <div class="alert alert-dismissible alert-danger mb-2"
                                                     role="alert">
                                                    <span>{{ error }}</span>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                </div>

                                <div class="row">
                                    <div class="col-12 col-md-6 mb-3">
                                        <div class="form-field d-flex flex-column">
                                            <input type="text" name="name" id="name" placeholder="Nome*"
                                                   class="form-control rounded-0 input-field"/>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6 mb-3">
                                        <div class="form-field d-flex flex-column">
                                            <input type="text" name="email" id="email" placeholder="Email*"
                                                   class="form-control rounded-0 input-field"/>
                                        </div>
                                    </div>
                                    <div class="col-12 mb-3">
                                        <div class="form-field d-flex flex-column mt-6">
                                                    <textarea name="comment" id="comment" placeholder="Comentário"
                                                              class="form-control rounded-0 textarea-field"></textarea>
                                        </div>
                                    </div>
                                </div>

                                <div class="button-wrap mt-8">
                                    {{ recaptcha }}
                                    <button type="submit" value="submit"
                                            class="btn btn-custom-size lg-size btn-primary"
                                            data-bg-toggle="collapse" data-bs-target="#form-comment > .alert">
                                        Comentar
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
</div>